/* From Uiverse.io by andrew-demchenk0 */ 
.button {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #222;
  --bg-color: #323232;
  --main-color: #dedede;
 position: relative;
  width: 250px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(20px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
 position: absolute;
 transform: translateX(175px); /* Adjusted for the new width */
  height: 100%;
  width: 70px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
 justify-content: center;
}

.button .svg {
  width: 20px;
  stroke: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 245px; /* Adjusted for the new width */
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

.button--delete {
  --bg-color-sub: #cc0000;
  --bg-color: #ff6666;
}

.button--delete:hover {
  --bg-color: #ff1a1a;
}

.collapsing-item {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s ease-out, opacity 0.3s ease-out, transform 0.5s ease-out;
}

.deleting-item {
  opacity: 0;
  transform: translateX(-100%);
  transition: height 0.5s ease-out, opacity 0.3s ease-out, transform 0.5s ease-out;
}

#previous_template, #next_template {transition: all 0.3s;}
#previous_template:hover, #next_template:hover{
  transform: scale(1.5);
}

#modal{
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#api_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  width: 50%;
  height: auto;
  border-radius: 10px;
}
